.App {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
    overflow: hidden;
}

div {
    display: flex;
}

.white {
    color: #fff;
}


.blinking-cursor {
    background-color: #fff;
    width: 0.8em;
    height: 0.15em;
    -webkit-animation: 0.65s blink step-end infinite;
    -moz-animation: 0.65s blink step-end infinite;
    -ms-animation: 0.65s blink step-end infinite;
    -o-animation: 0.65s blink step-end infinite;
    animation: 0.65s blink step-end infinite;
}

@keyframes blink {

    from,
    to {
        background-color: transparent;
    }

    50% {
        background-color: white;
    }
}

@-moz-keyframes blink {

    from,
    to {
        background-color: transparent;
    }

    50% {
        background-color: white;
    }
}

@-webkit-keyframes blink {

    from,
    to {
        background-color: transparent;
    }

    50% {
        background-color: white;
    }
}

@-ms-keyframes blink {

    from,
    to {
        background-color: transparent;
    }

    50% {
        background-color: white;
    }
}

@-o-keyframes blink {

    from,
    to {
        background-color: transparent;
    }

    50% {
        background-color: white;
    }
}